div.box{
    height: 300px;
    width: 500px;
}
p.hidden{
    overflow: hidden;
}

p.scroll{
    overflow: scroll;
}

p{
    height: 20%;
    width: 20%;
    background-color: blueviolet;
}

tb > img{
    width: 200px;
}
td.description{
    min-width: 400px;
    max-width: 500px;
    margin: 0;
    padding: 5px;
    text-align: left;
}

th{
    border-bottom: solid 2px rgb(red, green, blue);
}